// Averages
.average {
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon {
    height: 40px;
    width: 40px;
    margin-right: 25px;
  }
  .details {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .value {
      font-size: 19px;
      font-weight: 300;
      line-height: 23px;
    }
  }
}

// TODO: class names need to be reworked to better reflect card structure
.pill-container {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-top: 20px;
  .pill {
    background: $color-background;
    padding: 8px 20px;
    border-radius: 10px;
    h2 {
      font-weight: 600;
      color: $color-black;
    }
    span {
      color: $color-grey;
  }
  }
}
