@import "base/all";
@import "base/colours";

* {
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}
h2 {
font-size: 18px;
font-weight: 400;
}

.background {
    background-image: url("/static/images/Background.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100vh;
    width: 100%;
 }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.section-header {
    align-self: flex-start;
    flex-grow: 1;
    margin: 10px;

    p {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }
    img {
        height: 50px;
        width: 50px;
        margin: 0 10px 0 0;
    }
}

.section-title {
    flex-grow: 1;
    margin-bottom: 120px;

    img {
    height: 60px;
    }
    h1, h2 {
        color: $colour-primary;
        margin: 0;
    }
}

 .section-login {
     flex-grow: 2;

     .card {
        display: inline-block;
        background: $colour-white;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        text-align: center;
        padding: 60px 30px;

        input {
            border: 1px solid $colour-grey;
            border-radius: 50px;
            padding: 10px 20px;
            display: block;
            margin: 10px auto;
            height: 40px;
            width: 255px;;
        }
        input[type=text]:focus {
            background-color: $colour-primary;
        }
        input:focus {
            border: 1px solid $colour-primary;
            box-shadow: 0 0 3px $colour-primary;
            -moz-box-shadow: 0 0 3px $colour-primary;
            -webkit-box-shadow: 0 0 3px $colour-primary;
            outline-offset: 0px;
            outline: none;
        }
        span {
            display: flex;
            justify-content: center;
        }
        h2 {
            margin-bottom: 40px;
        }
        .button {
            background: $colour-primary;
            color: $colour-white;
            border-radius: 100px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            display: block;
            margin: 10px auto;
            width: 255px;
            padding: 10px;
        }
        .button-white {
            background: $colour-white;
            box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
            color: $colour-black;
        }
        .title {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 40px;
        }
        .sub {
            font-size: 12px;
            color: $colour-grey;
            font-weight: 600;
            margin: 30px 0 0 0;
            display: block;
            text-decoration: none;
        }
     }
 }

 // Media Queries 

@media only screen and (max-width: 1600px) {
    .background {
        background-size: 60vw;
    }
    .section-title h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .section-title {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .background {
        background-size: 60vh;
    }
} 

@media only screen and (max-width: 600px) {
    .section-title {
        padding: 20px;
        text-align: center;

        h1 {
            font-size: 28px;
        }
    }
} 
