html {
  height: 100%;
}
body {
  height: 100%;
}
h1 {
  color: $colour-black;
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 22px 0;
}
h2 {
  color: $colour-grey;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 12px 0;
}
#app {
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
}