$colour-primary: #4C9CFF;
$colour-secondary: #3366FF;
$colour-white: #FFFFFF;
$colour-grey: #8196A3;
$colour-black: #313232;
$colour-shade: #8196a380;
$colour-background: #F9F9FB;
$gradient-diagonal: linear-gradient(135deg, $colour-primary 0%,$colour-secondary 100%);
$gradient-horizontal: linear-gradient(90deg, $colour-primary 0%,$colour-secondary 100%);