$color-primary: rgb(76, 156, 255);
$color-secondary: rgb(51, 102, 255);
$color-white: rgb(255, 255, 255);
$color-light-grey: rgb(192, 202, 209);
$color-grey: rgb(129, 150, 163);
$color-black: rgb(49, 50, 50);
$color-shade: rgba(129, 150, 163, 0.5);
$color-background: rgb(249, 249, 251);
$gradient-diagonal: linear-gradient(135deg, $color-primary 0%,$color-secondary 100%);
$gradient-horizontal: linear-gradient(90deg, $color-primary 0%,$color-secondary 100%);
$gradient-danger-diagonal: linear-gradient(135deg, rgb(255, 77, 77) 0%, rgb(255, 60, 60) 100%);