.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // Common
  .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .hover-circle {
    height: 46px;
    width: 46px;
    background: $colour-primary;
    border-radius: 100%;
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 150ms, transform 150ms;
  }
  .action-btn {
    height: 80px;
    width: 80px;
    display: block;
    position: relative;
    cursor: pointer;
    @include responsive-mobile {
      height: 56px;
      width: 46px;
    }
    .icon {
      height: 24px;
      width: 24px;
      opacity: 0.32;
      transition: opacity 250ms;
    }
    &:hover {
      .hover-circle {
        opacity: 0.10;
        transform: scale(1);
      }
      .icon {
        opacity: 0.8;
      }
    }
    &.sidebar-btn {
      @include responsive-desktop {
        display: none;
      }
    }
  }
  // Content
  .content {
    position: relative;
    flex-grow: 1;
    @include responsive-non-mobile {
      padding-left: 80px;
    }
  }
  // Hamburger
  .hamburger {
    width: 20px;
    height: 18px;
    .line {
      height: 2px;
      width: 100%;
      background: $gradient-horizontal;
      border-radius: 2px;
      margin: 3px 0;
    }
    &:hover {
      .hover-circle {
        opacity: 0.10;
        transform: scale(1);
      }
    }
  }
  // Desktop and Tablet Navbar
  .navbar {
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $colour-white;
    box-shadow: $shadow-high-elevation;
    @include responsive-mobile {
      display: none;
    }
    .mid {
      margin-bottom: 20px;
    }
    .logo {
      width: 40px;
      margin: 20px;
      @include responsive-non-desktop {
        display: none;
      }
    }
    .link-btn {
      height: 68px;
      width: 80px;
      display: flex;
      flex-direction: row;
      .selection-indicator {
        height: 100%;
        width: 4px;
        background: $gradient-diagonal;
        border-radius: 0 4px 4px 0;
        transform: translateX(-100%);
        transition: transform 200ms;
      }
      .container {
        position: relative;
        flex-grow: 1;
        margin-right: 4px;
        .icon {
          height: 24px;
          width: 24px;
          opacity: 0.32;
          transition: opacity 250ms, transform 400ms cubic-bezier(0.24, 1.43, 0.4, 1);
          &.gradient {
            opacity: 0;
          }
        }
      }
      &::after {
        content: attr(name);
        position: absolute;
        left: 80px;
        margin: 21px;
        background-color: #313232;
        padding: 4px 10px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        z-index: 1;
        border-radius: 27px;
        transition: 100ms ease-out;
        transform: translateX(-20px) scale(0.8);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
      &.rotate {
        &:hover {
          .icon {
            transform: rotate(90deg);
          }
        }
        &.active{
          .icon {
            transform: rotate(90deg);
          }
        }
      }
      &:hover {
        &::after {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
        }
        .hover-circle {
          opacity: 0.10;
          transform: scale(1);
        }
        .icon {
          opacity: 0.8;
          &.gradient {
            opacity: 0;
          }
        }
      }
      &.active{
        .selection-indicator {
          transform: translateX(0%);
        }
        .icon {
          opacity: 0;
          &.gradient {
            opacity: 1;
          }
        }
      }
    }
  }
  // Mobile Action Bar
  .action-bar {
    height: 56px;
    padding: 0 10px;
    z-index: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colour-white;
    box-shadow: $shadow-high-elevation;
    @include responsive-non-mobile {
      display: none;
    }
    .right {
      display: flex;
      flex-direction: row;
    }
  }
  .bottom-nav-bar {
    height: 56px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    box-shadow: $shadow-high-elevation;
    padding: 0 12px;
    .link-btn {
      width: 90px;
      height: 100%;
      display: flex;
      flex-direction: column;
      transform: scale(0.9);
      transition: transform 100ms;
      .icon-container {
        position: relative;
        flex-grow: 1;
        margin-top: 6px;
        .icon {
          height: 24px;
          width: 24px;
          opacity: 0.32;
          transition: opacity 250ms;
          &.gradient {
            opacity: 0;
          }
        }
      }
      .name {
        text-align: center;
        text-decoration: none;
        color: $colour-black;
        font-size: 12.5px;
        font-weight: 500;
        margin-bottom: 6px;
        opacity: 0.32;
        transition: opacity 250ms, color 250ms;
      }
      &:hover {
        .icon {
          opacity: 0.8;
          &.gradient {
            opacity: 0;
          }
        }
        .name {
          opacity: 0.8;
        }
      }
      &.active{
        transform: scale(1);
        .icon-container {
          .icon {
            &.gradient {
              opacity: 1;
            }
          }
        }
        .name {
          opacity: 1;
          color: $colour-primary;
        }
      }
    }
    @include responsive-non-mobile {
      display: none;
    }
  }
}