// Confirmation Modal
.confirmation-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $color-shade;
  will-change: opacity;
  .container {
    height: auto;
    margin: 15px;
    padding: 32px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: $color-background;
    will-change: transform;
    overflow-y: auto;
    border-radius: 18px;
    box-shadow: $shadow-high-elevation;
    @include responsive-mobile {
      min-width: 90vw;
    }
    @include responsive-non-mobile {
      min-width: 550px;
    }
    h1 {
      margin: 0;
    }
    h2 {
      font-size: 13px;
      font-weight: 500;
      margin: 0 0 15px 0;
      color: $color-grey;
    }
    .button-container {
      display: flex;
      margin: 0 -5px;
      .btn {
        flex-grow: 1;
        margin: 0 5px;
      }
    }
  }
  &.animation-enter {
    opacity: 0.01;
    .container {
      transform: scale(0.8);
    }
  }
  &.animation-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-out;
    .container {
      transform: scale(1);
      transition: transform 300ms cubic-bezier(0.3, 1.35, 0.5, 1);
    }
  }
  &.animation-exit {
    opacity: 1;
    .container {
      transform: scale(1);
    }
  }
  &.animation-exit-active {
    opacity: 0.01;
    transition: opacity 100ms ease-out;
    .container {
      transform: scale(0.9);
      transition: transform 100ms ease-out;
    }
  }

}
