.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 455px;
  padding: 32px 40px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: $colour-background;
  box-shadow: $shadow-high-elevation;
  transition: transform 400ms cubic-bezier(0.22, 0.61, 0.36, 1),
              box-shadow 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
  @include responsive-non-desktop {
    &.hidden {
      transform: translateX(-100%);
      box-shadow: 0px 0px 20px #0d0d0d00;
    }
  }
  @include responsive-mobile {
    width: 100%;
  }
  .sidebar-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px 40px;
    background-color: $colour-background;
    @include responsive-mobile {
      padding: 25px;
    }
    .page-header {
      height: 46px;
      display: flex;
      align-items: center;
      margin: -2px 0 16px 0;
      .back-btn {
        margin-right: 12px;
      }
      h1 {
        margin: 0;
      }
    }
  }
  .sidebar-fade-animation-enter {
    opacity: 0.01;
  }
  .sidebar-fade-animation-enter-active {
    opacity: 1;
    transition: opacity 150ms;
  }
  .sidebar-fade-animation-exit {
    opacity: 1;
  }
  .sidebar-fade-animation-exit-active {
    opacity: 0.01;
    transition: opacity 150ms;
  }
}