.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 455px;
  background-color: $colour-background;
  box-shadow: $shadow-high-elevation;
  transition: transform 400ms cubic-bezier(0.22, 0.61, 0.36, 1),
              box-shadow 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
  @include responsive-non-desktop {
    &.hidden {
      transform: translateX(-100%);
      box-shadow: 0px 0px 20px #0d0d0d00;
    }
  }
  @include responsive-mobile {
    width: 100%;
  }
}